hbase.class=org.apache.hadoop.metrics.spi.NullContextWithUpdateThread
hbase.period=10
hbase.extendedperiod = 3600
jvm.class=org.apache.hadoop.metrics.spi.NullContextWithUpdateThread
jvm.period=10
rpc.class=org.apache.hadoop.metrics.spi.NullContextWithUpdateThread
rpc.period=10
