export HBASE_OPTS="-XX:+UseConcMarkSweepGC"
#export SERVER_GC_OPTS="-verbose:gc -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=1 -XX:GCLogFileSize=512M $HBASE_GC_OPTS"
#export HBASE_USE_GC_LOGFILE=true
