
<configuration>
  <property>
    <name>security.client.protocol.acl</name>
    <value>*</value>
  </property>

  <property>
    <name>security.admin.protocol.acl</name>
    <value>*</value>
  </property>

  <property>
    <name>security.masterregion.protocol.acl</name>
    <value>*</value>
  </property>
</configuration>

