This is a template file, evaluated and then sent to the target machine.

{{greeting}},

This machine’s IP address is {{ ansible_default_ipv4.address }}

The value stored in a group variable file is: {{ my_group_variable }}
