---
- name: install riak
  apt: pkg=riak

- name: set the riak ulimit
  copy: src=etc_default_riak_ulimit dest=/etc/default/riak

- name: configure iptables
  template: src=iptables.j2 dest=/etc/ufw/applications.d/riak owner=root group=root mode=0644

- name: update fw
  ufw: enable=yes allow=riak
