---
- name: restart riak
  service: name=riak state=restarted
  notify:
  - wait for http
  - wait for kv

- name: wait for http
  wait_for: port={{ riak.http_port }}

- name: wait for kv
  riak: wait_for_service=kv

- name: commit cluster changes
  riak: command=commit

- name: wait for handoffs
  riak: wait_for_handoffs=true
  async: 1000
  poll: 10

- name: wait for ring
  riak: wait_for_ring=true
  async: 600
  poll: 10

- name: lokkit
  command: lokkit --custom-rules /etc/sysconfig/iptables.riak --update