topicprefix = /topic/
main_collective = mcollective
collectives = mcollective
libdir = /opt/rh/ruby193/root/usr/libexec/mcollective
logfile = /var/log/mcollective-client.log
loglevel = debug
direct_addressing = 1

# Plugins
securityprovider = psk
plugin.psk = unset

connector = stomp
plugin.stomp.pool.size = {{ groups['mq']|length() }}
{% for host in groups['mq'] %}

plugin.stomp.pool.host{{ loop.index }} = {{ hostvars[host].ansible_hostname }}
plugin.stomp.pool.port{{ loop.index }} = 61613
plugin.stomp.pool.user{{ loop.index }} = mcollective
plugin.stomp.pool.password{{ loop.index }} = {{ mcollective_pass }}

{% endfor %}



