serial_no = 1
primary = {{ hostvars[groups['lvs'][0]].ansible_default_ipv4.address }} 
service = lvs
backup_active = 1
backup = {{ hostvars[groups['lvs'][1]].ansible_default_ipv4.address }}
heartbeat = 1
heartbeat_port = 539
keepalive = 6
deadtime = 18
network = direct
debug_level = NONE
monitor_links = 0
syncdaemon = 0
tcp_timeout = 30
tcpfin_timeout = 30
udp_timeout = 30
virtual brokers {
     active = 1
     address = {{ vip }} {{ hostvars[groups['lvs'][0]].ansible_default_ipv4.interface }}:1
     vip_nmask = {{ vip_netmask }}
     port = 80
     pmask = 255.255.255.255
     send = "GET / HTTP/1.0\r\n\r\n"
     expect = "HTTP"
     use_regex = 0
     load_monitor = none
     scheduler = rr
     protocol = tcp
     timeout = 60
     reentry = 45
     quiesce_server = 0
     server web1 {
         address = {{ hostvars[groups['broker'][0]].ansible_default_ipv4.address }}
         active = 1
         port = 80
         weight = 1
     }
     server web2 {
         address = {{ hostvars[groups['broker'][1]].ansible_default_ipv4.address }}
         active = 1
         port = 80
         weight = 2
     }
}
