# Firewall configuration written by system-config-firewall
# Manual customization of this file is not recommended.
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
{% if 'mongo_servers' in group_names %}
-A INPUT -p tcp  --dport {{ mongod_port }} -j  ACCEPT
{% endif %}
{% if 'mq' in group_names %}
-A INPUT -p tcp  --dport 61613 -j  ACCEPT
-A INPUT -p tcp  --dport 61616 -j  ACCEPT
-A INPUT -p tcp  --dport 8161 -j  ACCEPT
{% endif %}
{% if 'broker' in group_names %}
-A INPUT -p tcp  --dport 80 -j  ACCEPT
-A INPUT -p tcp  --dport 443 -j  ACCEPT
{% endif %}
{% if 'lvs' in group_names %}
-A INPUT -p tcp  --dport 80 -j  ACCEPT
-A INPUT -p tcp  --dport 443 -j  ACCEPT
{% endif %}
{% if 'nodes' in group_names %}
-A INPUT -p tcp  --dport 80 -j  ACCEPT
-A INPUT -p tcp  --dport 443 -j  ACCEPT
-A INPUT -p tcp -m multiport --dports 35531:65535 -j ACCEPT
{% endif %}
{% if 'dns' in group_names %}
-A INPUT -p tcp  --dport {{ dns_port }} -j  ACCEPT
-A INPUT -p udp  --dport {{ dns_port }} -j  ACCEPT
-A INPUT -p udp  --dport {{ rndc_port }} -j  ACCEPT
-A INPUT -p tcp  --dport {{ rndc_port }} -j  ACCEPT
{% endif %}
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT



