<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 </br>
  <a href=http://{{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }}/index.html>Homepage</a>
 </br>
<?php 
 Print "Hello, World! I am a web server deployed using Ansible and I am : ";
 echo exec('hostname');
 Print  "</BR>";
?>
</body>
</html>

