---
- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Copy nginx configuration for WordPress
  template:
    src: default
    dest: /etc/nginx/sites-available/default
  notify: restart nginx
