# {{ ansible_managed }}

# service checks to be applied to all hosts

define service {
        use                             local-service
        host_name                       localhost
        service_description             Root Partition
        check_command                   check_local_disk!20%!10%!/
}

define service {
        use                             local-service
        host_name                       * 
        service_description             Current Users
        check_command                   check_local_users!20!50
}


define service {
        use                             local-service
        host_name                       * 
        service_description             Total Processes
        check_command                   check_local_procs!250!400!RSZDT
}

define service {
        use                             local-service
        host_name 		 	*	
        service_description             Current Load
        check_command                   check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}

define service {
        use                             local-service
        host_name                       * 
        service_description             Swap Usage
        check_command                   check_local_swap!20!10
}
