
#where to log
logpath=/var/log/mongo/mongod-config.log

logappend=true

# fork and run in background
fork = true

port = {{ mongoc_port }}

dbpath={{ mongodb_datadir_prefix }}configdb
keyFile={{ mongodb_datadir_prefix }}secret
# location of pidfile
pidfilepath = /var/run/mongo/mongoc.pid

configsvr=true
