# These should not be left at default values, even for a demo.
# "PUBLIC" networking values are ones that end-users should be able to reach.
PUBLIC_HOSTNAME="{{ ansible_hostname }}"       # The node host's public hostname
PUBLIC_IP="{{ ansible_default_ipv4.address }}"                                        # The node host's public IP address
BROKER_HOST="{{ groups['broker'][0] }}"                                      # IP or DNS name of broker server for REST API

# Usually (unless in a demo) this should be changed to the domain for your installation:
CLOUD_DOMAIN="example.com"                                  # Domain suffix to use for applications (Must match broker config)

# You may want these, depending on the complexity of your networking:
# EXTERNAL_ETH_DEV='eth0'                                    # Specify the internet facing public ethernet device
# INTERNAL_ETH_DEV='eth1'                                    # Specify the internal cluster facing ethernet device
INSTANCE_ID="localhost"                                      # Set by RH EC2 automation

# Uncomment and use the following line if you want to gear users to be members of
# additional groups besides the one with the same id as the uid. The other group
# should be an existing group.
#GEAR_SUPL_GRPS="another_group"  # Supplementary groups for gear UIDs (comma separated list)

# Generally the following should not be changed:
ENABLE_CGROUPS=1                                             # constrain gears in cgroups (1=yes, 0=no)
GEAR_BASE_DIR="/var/lib/openshift"                           # gear root directory
GEAR_SKEL_DIR="/etc/openshift/skel"                          # skel files to use when building a gear
GEAR_SHELL="/usr/bin/oo-trap-user"                           # shell to use for the gear
GEAR_GECOS="OpenShift guest"                                 # Gecos information to populate for the gear user
GEAR_MIN_UID=500                                             # Lower bound of UID used to create gears
GEAR_MAX_UID=6500                                            # Upper bound of UID used to create gears
CARTRIDGE_BASE_PATH="/usr/libexec/openshift/cartridges"      # Locations where cartridges are installed
LAST_ACCESS_DIR="/var/lib/openshift/.last_access"            # Location to maintain last accessed time for gears
APACHE_ACCESS_LOG="/var/log/httpd/openshift_log"             # Localion of httpd for node
PROXY_MIN_PORT_NUM=35531                                     # Lower bound of port numbers used to proxy ports externally
PROXY_PORTS_PER_GEAR=5                                       # Number of proxy ports available per gear
CREATE_APP_SYMLINKS=0                                        # If set to 1, creates gear-name symlinks to the UUID directories (debugging only)
OPENSHIFT_HTTP_CONF_DIR="/etc/httpd/conf.d/openshift"

PLATFORM_LOG_FILE=/var/log/openshift/node/platform.log
PLATFORM_LOG_LEVEL=DEBUG
PLATFORM_TRACE_LOG_FILE=/var/log/openshift/node/platform-trace.log
PLATFORM_TRACE_LOG_LEVEL=DEBUG
CONTAINERIZATION_PLUGIN=openshift-origin-container-selinux
