# mongo.conf
smallfiles=true

#where to log
logpath=/var/log/mongo/mongod-{{ inventory_hostname }}.log

logappend=true

# fork and run in background
fork = true

port = {{ mongod_port }}

dbpath={{ mongodb_datadir_prefix }}mongo-{{ inventory_hostname }}
keyFile={{ mongodb_datadir_prefix }}/secret

# location of pidfile
pidfilepath = /var/run/mongo/mongod-{{ inventory_hostname }}.pid


# Ping interval for Mongo monitoring server.
#mms-interval = <seconds>

# Replication Options
replSet={{ inventory_hostname }}
