rs.initiate({
    "_id" : "{{ replica_set_name }}",
    "members" : [
         {% for host in groups['replication_servers'] %}
         { "_id" : {{ loop.index0 }}, "host" : "{{ host }}:{{ hostvars[host]['mongod_port'] }}" },
         {% endfor %}
     ]
});
printjson(rs.status());
