# config file for ansible -- http://ansible.com/
# ==============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]

# some basic default values...

inventory      = hosts
forks          = 50
host_key_checking = False
retry_files_enabled = False
no_target_syslog = False
callback_whitelist = time

[ssh_connection]
scp_if_ssh = True
