$ORIGIN .
$TTL 1  ; 1 second
{{ domain_name }}             IN SOA  ns1.{{ domain_name }}. hostmaster.{{ domain_name }}. (
                                2002100404 ; serial
                                10800      ; refresh (3 hours)
                                3600       ; retry (1 hour)
                                3600000    ; expire (5 weeks 6 days 16 hours)
                                7200       ; minimum (2 hours)
                                )
                        NS      ns1.{{ domain_name }}.
$ORIGIN {{ domain_name }}.
ns1                     A       {{ ansible_default_ipv4.address }}

