//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
	listen-on port {{ dns_port }} { any; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
	allow-query     { any; };
	recursion yes;

	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside auto;

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";
	include "forwarders.conf";

	managed-keys-directory "/var/named/dynamic";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity debug;
        };
};
include "{{ domain_name }}.key";

controls {   
	inet * port {{ rndc_port }} allow { any; } 
	keys { {{ domain_name }}; }; 
};

zone "{{ domain_name }}" IN {
	type master;
	file "dynamic/{{ domain_name }}.db";
	allow-update { key {{ domain_name }}; };
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

zone "." IN {
        type hint;
        file "named.ca";
};


